<library path="src">
  <class name="Annotation Plugin" type="image_recognition_rqt.annotation.AnnotationPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin for annotating image regions
    </description>
    <qtgui>
        <group>
            <label>Image recognition</label>
            <icon type="theme">folder</icon>
            <statustip>Plugins related to image recogition.</statustip>
        </group>
      <label>Label Annotation</label>
      <icon type="theme">system-help</icon>
      <statustip>Annotate regions in images and write the result to disk.</statustip>
    </qtgui>
  </class>
</library>